*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(254, 189, 168) ;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300; /* from 100 to 900*/
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    html {
        width: 100%;
    }

        p {
            color:white;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 600; /* from 100 to 900*/ 
            font-style: normal;
        }
        
        h1 {
            margin: auto;
            padding: 0;
            text-align: center;
            align-items: center;
            justify-content: center;

            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 700; /*from 100 to 900 */
            font-style: normal;
            font-size: 80px;
            width: 100%;

            -webkit-user-select: none;
            user-select: none;

            color: black;
            background: linear-gradient(175deg, black 50%, white calc(50% + 1px));
            transition: 2s;
            color: transparent;

            background-size: 200% 400%;
            background-clip: text;
            /* background-position: 100%; */
            -webkit-background-clip: text;
            display: inline-block;

        }



            h1:hover {
                background-position: 0% 100%;
                transition: 1s;
                /* color: white; */
            }
        


        
        a {
            text-decoration: none;
        }
        
            a:hover{
                text-decoration: underline;
            }
            
        /* #NatureTitle:hover {

            -webkit-user-select: none;
            user-select: none;

            display: block;
            margin: 0;

            transition: 1s;
            text-transform:;

        } */

#Nature {
    width: 100%;
}

    .nature1 {
        transition: 1s; /* Time of the effect */

        width: 546.91px;

        padding: 50px;

    }
        .nature1:hover {
            transform: scale(1.1); /* Increasing the scale */
        }    


    .nature2 {
        transition: 1s;
        
        width: 546.91px;

        padding: 50px;

    }
        .nature2:hover {
            transform: scale(1.1);
        }


    .NatureOne {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; /* this will add equal space between each image */
        align-items: center;
        
}

    .NatureTwo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; /* this will add equal space between each image */
        align-items: center;

}


    .TheSecondSector {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .pictures-from-the-second-sector {
        transition: 1s;
        width: 546.91px;
        padding: 50px;
    }
        .pictures-from-the-second-sector:hover {
            transform: scale(1.1);
        }

    